<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__STATIC__/store/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/store/css/view.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card layui-anim layui-anim-upbit">
                <div class="layui-card-header">等待信息审核</div>
                <form name="form" class="layui-form layui-card-body"   method="post">
                 
                  
               
                  <div class="layui-form-item">
                    <label class="layui-form-label">营业执照</label>
                    <div class="layui-input-inline">
                      <div id="license" style="width: 200px;background: #eee;border:1px solid #ccc;">
                        <img src="{$result.License}" style="width: 95%;padding: 5px">
                        <input type="hidden" name="store_license" value="{$result.License}" />
                      </div>
                    </div>
                  </div>
                  

                  <hr class="layui-bg-gray">
                  <div class="layui-form-item">
                    <label class="layui-form-label">店铺照片</label>
                    <div class="layui-input-block" id="picbox">
                       {foreach name="file" item="vo"}
                      <div id="store_pic" style="position: relative; width: 200px;background: #eee;border:1px solid #ccc;margin: 10px;float: left;">
                        <img src="{$vo}" style="width: 95%;padding: 5px">
                        <input type="hidden" name="store_imgs[]" value="{$vo}" />
                      </div>
                      {/foreach}
                    </div>
                  </div>

                  <input type="hidden" name="id" value="{$result.id}" />

                </form>  
            </div>
        </div>
    </div>
    <script src="__STATIC__/store/layui.all.js"></script>
    <script type="text/javascript" src="__STATIC__/store/jquery.min.js"></script>
    <script type="text/javascript">



    // 弹出后自动消失
    layer.msg('等待审核');
            
    // setTimeout("document.form.submit()",5000);
    

    </script>

</body>
</html>