{volist name='status' id="vor"}
<div class="layui-col-sm6 layui-col-md3 layui-anim layui-anim-fadein">
    <div class="layui-card" id="orderdetail{$vor.id}">
        <div class="layui-card-body chart-card">
            <div class="chart-header">
                <div class="metawrap">
                    <div class="meta">
                        <span>订单编号：{$vor.id}</span>
                        <input type="hidden" name="order_id" class="order_id" value="{$vor.id}">
                    </div>
                    <div class="total" >{$vor.status}</div>
                </div>
            </div>
            <div class="chart-body">
                <div class="contentwrap">
                    订单总价：￥{$vor.order_total}
                </div>
            </div>
            <div class="chart-footer">
                <div class="field">
                    {php}if($vor['isonline']==0)echo "创建订单方式：现场支付";else echo "创建订单方式：线上支付";{/php}
                </div>
                <div class="field">
                    <span>添加时间：</span>
                    <span>{$vor.addtime|date="Y-m-d H:i",###}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{/volist}
<div class="layui-form layui-form-item">
    {$page}
</div>
<script type="text/javascript">
     $(".order_id").each(function(){
        var order_id=$(this).val();
        var order_total=$(this).parents().nextAll(".chart-body").html();
        var order_status=$(this).parent().next(".total").html();
        var order_feedback;
        var order_feedback_type;
        var status;
        var tbrate;
        var addtime;
        var address;
        var addressinfo;
        var presend;
        function timestampToTime(timestamp) {
            var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            var D = date.getDate() + ' ';
            var h = date.getHours() + ':';
            var m = date.getMinutes() + ':';
            var s = date.getSeconds();
            return Y+M+D+h+m+s;
        }
        var isonline;
        $("#orderdetail"+$(this).val()).click(function(){
            $.post('/store/manage/selectorder',{'order_id':order_id},function(ret){
                var obj=JSON.parse(ret['order_info']);
                console.log(obj);
                var obj2=ret['0'];
                $.each(obj,function(key,val){
                    $("#tableord").append("<tr id='tr"+key+"' class='tr'>"
                    +"<td>"+key+"</td>"
                    +"<td>"+val+"</td>"
                    +"</tr>");
                });
                $.each(obj2,function(key,val){
                    $("#tr"+key).append("<td>"+val+"</td>"
                    +"</tr>");
                });
                isonline=ret['isonline'];
                if(isonline==0){
                    isonline="现场支付";
                }
                else if(isonline=="1"){
                    if(ret['order_address']==""){
                        addressinfo="收货信息有误<br>";
                    }
                    else{
                        address=JSON.parse(ret['order_address']);
                        console.log(address);
                        $("#tableaddress").append("<thead class='tr'><tr class='tr'><th>收货人</th><th>电话</th></tr></thead>"
                            +"<tr class='tr'><td>"+address['name']+"</td><td>"+address['tell']+"</td></tr>"
                            +"<thead class='tr'><tr class='tr'><th>收货地址</th><th>门牌号</th></tr></thead>"
                            +"<tr class='tr'><td>"+address['area']+"</td><td>"+address['door']+"</td></tr>");
                        addressinfo="收货信息：<br>"+$("#address").html();
                    }
                    presend=ret['order_time'];
                    if(presend==""){
                        presend="立刻送达";
                    }
                    order_feedback=ret['feedback'];
                    if(order_feedback==""){
                        order_feedback="无";
                    }
                    order_feedback_type=JSON.parse(ret['feedbacktype']);
                    if(!$.isArray(order_feedback_type)){
                        tbrate="无评分";
                    }
                    else{
                        $("#tablerate").append("<tr class='tr'><td>描述相符</td><td><div id='rate1'></div></td></tr>"
                            +"<tr class='tr'><td>发货速度</td><td><div id='rate2'></div></td></tr>"
                            +"<tr class='tr'><td>服务态度</td><td><div id='rate3'></div></td></tr>");
                        rate.render({
                            elem:'#rate1',
                            value:order_feedback_type[0],
                            readonly:true,
                            theme: '#FF8000',
                            text:true
                        });
                        rate.render({
                            elem:'#rate2',
                            value:order_feedback_type[1],
                            readonly:true,
                            theme: '#FF8000',
                            text:true
                        });
                        rate.render({
                            elem:'#rate3',
                            value:order_feedback_type[2],
                            readonly:true,
                            theme: '#FF8000',
                            text:true
                        });
                        tbrate="订单评分：<br>"+$("#rate").html()
                        +"订单反馈："+order_feedback;
                    }
                    isonline="线上支付<br>"
                    +"预计到达时间：<p style='color:red'>"+presend+"</p>"
                    +addressinfo
                    +tbrate;
                }

                addtime=ret['addtime'];
                status=ret['status'];
                if(status=="售后中"){
                    status="售后中，处理完毕后请点击“已完成”<br><a href='/store/manage/afterorder?id="+order_id+"' class='layui-btn layui-btn-blue' type='button' id='afterorder'>已完成</a>";
                }
                
            });
            setTimeout(function(){
                layer.open({
                    title:"详细信息",
                    content:"订单编号："+order_id+"<br>"
                    +"订单状态："+status+"<br>"
                    +"订单信息：<br>"+$("#table").html()
                    +order_total
                    +"创建订单方式："+isonline+"<br>"
                    +"添加时间："+timestampToTime(addtime)
                    ,
                    btn:false,
                    shadeClose:true,
                    area:'480px',
                    end:function(){
                        $("tr").remove('.tr');
                    },
                });
                
            },800); 
            //end
        });
    });
</script>