<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/store/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/store/css/view.css"/>
    <link rel="icon" href="__STATIC__/favicon.ico">
    <link rel="icon" type="image/png" href="__STATIC__/admin/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/admin/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/admin/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/admin/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/thinkphp-page.css">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
               
                <h2 class="title">用户组</h2>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <div class="am-g">
                          <div class="am-u-sm-12">
                            <form class="am-form">
                              <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                  
                                  <th class="table-id">ID</th>
                                  <th class="table-title">用户名</th>
                                  <th class="table-type">头像</th>
                                  <th class="table-date am-hide-sm-only">姓名</th>
                                  <th class="table-type">电话</th>
                                  <!-- <th class="table-type">密码</th> -->                                
                                  <th class="table-date am-hide-sm-only">地址</th>
                                  <th class="table-date am-hide-sm-only">注册时间</th>
                                  <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="result" id="vo"}
                                <tr>
                                  
                                  <td>{$vo.id}</td>
                                  <td><a href="#">{$vo.openid}</a></td>
                                  <td><img src="{$vo.head_img}" style="width:100px;" /></td>
                                  <td><a href="#">{$vo.name}</a></td> 
                                  <td><a href="#">{$vo.tell}</a></td> 
                                  <!-- <td><a href="#">{$vo.pwd}</a></td>   -->     
                                 <td class="am-hide-sm-only"><button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" id="lookaddress{$vo.id}">查看地址</button></td>
                                 <input type="hidden" name="user_id" id="user_id" class="user_id" value="{$vo.id}">
                                  <td class="am-hide-sm-only">{$vo.addtime|date="Y-m-d",###}</td>
                                  <td>
                                    <div class="am-btn-toolbar">
                                      <div class="am-btn-group am-btn-group-xs">
                                         <a href="/admin/users/edit?id={$vo.id}" class="am-btn am-btn-default am-btn-xs am-text-secondary" style="color:#66ccff"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                        <a href="/admin/users/del?id={$vo.id}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" style="color:red"><span class="am-icon-trash-o"></span> 删除</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                               {/volist}
  
                                </tbody>
                              </table>
                              
                              <hr />
                              
                            </form>
                          </div>

                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div style="display: none" id="table">
        <table id="tableaddress" class="layui-table">
            <thead><tr><th>门牌号</th><th>电话</th><th>姓名</th><th>地址</th></tr></thead>
        </table>
    </div>
    <script src="__STATIC__/store/layui.js"></script>
    <script src="__STATIC__/store/layui.all.js"></script>
    <script type="text/javascript" src="__STATIC__/store/jquery.min.js"></script>
    <script type="text/javascript">
        $(".user_id").each(function(){
          var user_id=$(this).val();
          $("#lookaddress"+user_id).click(function(){
            $.post('/admin/users/lookaddress',{'user_id':user_id},function(ret){
              var obj=ret;
              $.each(obj,function(key,val){
                var obj2=val;
                var k=key;
                $("#tableaddress").append("<tr id='tr"+key+"' class='tr'></tr>");
                $.each(obj2,function(key,val){
                  $("#tr"+k).append("<td>"+val+"</td>");
                });
                
              });
            });
            setTimeout(function(){
                layer.open({
                    title:"地址信息",
                    content:"订单信息：<br>"+$("#table").html()
                    ,
                    btn:false,
                    shadeClose:true,
                    area:'480px',
                    end:function(){
                        $("tr").remove('.tr');
                    },
                });
                
            },800); 
          });

        });
    </script>

</body>
</html>