<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__STATIC__/store/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/store/css/view.css"/>
    <link rel="icon" type="image/png" href="__STATIC__/admin/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/admin/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__STATIC__/admin/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC__/admin/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/thinkphp-page.css">
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card layui-anim layui-anim-upbit">
              <div class="layui-card-header">商户信息审核</div>
              <table name="form" class="layui-form layui-card-body" method="post" >                          
                   <table class="am-table am-table-striped am-table-hover table-main" >
                    <thead>
                    <tr>
                      
                      <th class="table-id" style="width:200px" >ID</th>
                      <th class="table-title" style="width:200px">商户ID</th>
                      <th class="table-title" style="width:400px">商户名称</th>
                      <th class="table-title">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $alist as $vo}
                    <tr>
                      
                      <td>{$vo.id}</td>
                      <td><a href="#">{$vo.operator}</a></td>
                      <td><a href="#">{$vo.store_name}</a></td>
                      <td>
                        <div class="am-btn-toolbar">
                          <div class="am-btn-group am-btn-group-xs">
                             <a href="/admin/store/listen?id={$vo.id}" "><i class="layui-icon" style="font-size: 25px;color:#66CD00;">&#xe6b2;</i><span style="font-size:15px;color:#66CD00;">审核</span></a>
                            
                          </div>
                        </div>
                      </td>
                    </tr>
                    {/foreach}
                    </tbody>
                  </table>
                </div>
                  <!-- <button type="submit" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal" id="update" >通过审核</button>
 -->
              
            </div>
        </div>
    </div>
    <script src="__STATIC__/store/layui.all.js"></script>
    <script type="text/javascript" src="__STATIC__/store/jquery.min.js"></script>
    
</body>
</html>